@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-image: url("cc.jpg");
  background-blend-mode:soft-light;
  background-size: cover ;
}

.button{
  width: 66px;
  padding: 12px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
  background-color:aliceblue;
  color: black;
  font-weight: 900;
  font-size: larger;
}

.row{
  margin: 8px 0;
}
.row1 button{
    color: rgb(38, 160, 236);
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-center{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(15, 187, 218);
    text-decoration: underline;
  }
  
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
    
  }